body {
	margin: 5rem auto;
	font-size: 2rem;
	font-family: "helvetica neue", helvetica;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-weight: 600;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: rgb(34, 101, 178);
}

header nav ul li a.selected {
	color: white;
	background-color: rgb(34, 101, 178);
}

header {
	margin-bottom: 5rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.hero {
	height: 50rem;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 5rem;
	overflow: hidden;
}

img {
	max-width: 80vw;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: rgb(34, 101, 178);
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
	text-align: center;
}

footer {
	text-align: center;
	font-size: 1.5rem;
}

@media (min-width: 800px) {
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 10vw;
	}

	header h1 {
		position: absolute;
		top: 5.5rem;
		left: 10vw;
	}

	header {
		height: 3rem;
	}
}
